torch==2.9.1
torchvision==0.23.0
hydra-core
omegaconf
rich
moviepy==1.0.3
imageio==2.37.0
ffmpeg
huggingface-hub[hf-transfer,cli]==0.35.3
gymnasium==0.29.1
gym==0.26.2
scipy==1.15.1
flask
datasets==3.3.2
gdown
einops
mink==0.0.13
diffusers==0.30.3
wandb
av==14.2.0
pymunk==6.11.1
zarr
robomimic
mujoco==3.3.0
dm_control==1.0.28
fvcore
torchcfm==1.0.5
numpy==1.26.4
timm
numba==0.61.0
pillow==10.4.0
pyarrow==19.0.1
pydantic==2.10.6
