# @package _global_

policy:
  name: vita
  runner: policy_trainer

  action_horizon: 8
  pred_horizon: 16
  obs_horizon: 1

  observer:
    name: resnet18
    tokenize: false

  vita:
    decode_flow_latents: true
    consistency_weight: 1.0 # FLC
    enc_contrastive_weight: 1e-4 # or 0.0
    flow_contrastive_weight: 0.0
    latent_dim: 512

  flow_matcher:
    name: exact # OT-CFM
    sigma: 0.0
    num_sampling_steps: 6

  flow_net:
    name: simple
    hidden_dim: 512
    num_layers: 4
    mlp_ratio: 4
    dropout: 0.0

  obs_ae:
    use_variational: false
    kl_weight: 0.0
    recon_weight: 0.0
    hidden_dim: 512
    num_layers: 1

  action_ae:
    kl_weight: 0.0
    use_variational: false
    enc_recon_weight: 0.5 # AE
    flow_recon_weight: 0.5 # FLD
    recon_loss_type: l1 # outperforms L2
    freeze_encoder: false
    freeze_decoder: false

    net:
      encoder_type: cnn
      decoder_type: simple
      enc_hidden_dim: 512
      dec_hidden_dim: 512
      latent_dim: ${policy.vita.latent_dim}
      num_heads: 8
      mlp_ratio: 4
      dropout: 0.0
      num_layers: 4
